<%

  # Read only fields.
  if @resource.typus_field_options_for(:read_only).to_s.include?(attribute)
    custom = { :readonly => 'readonly' }
    label_text << " <small>#{_t("Read only")}</small>"
  end

  # Auto generated fields.
  if @resource.typus_field_options_for(:auto_generated).include?(attribute)
    custom = { :auto_generated => true }
    label_text << " <small>#{_t("Auto generated")}</small>"
  end

  options.merge!(custom) if custom

%>

<li>
  <%= form.label attribute, raw(label_text) %>
  <%= form.text_field attribute, options %>
</li>