<%= form_tag nil, :method => :get do %>

  <div id="filters">
    <ul>
      <% filters.each do |filter| %>
        <li><%= select_tag filter[:filter], options_for_select(filter[:items], params[filter[:filter]]) %></li>
      <% end %>
      <%= hidden_field_tag :search, params[:search] if params[:search] %>
      <li><%= submit_tag _t("Filter"), :name => nil %></li>
    </ul>
  </div>

<% end %>
