<% resources.each do |key, value| %>

  <%
    klass = key.typus_constantize
    resource = "/admin/#{klass.to_resource}"
  %>

  <%= link_to :controller => resource, :action => "index" do %>
    <h3><%= _t(klass.model_name.human.pluralize) %></h3>
  <% end %>

  <% if @resource.name.eql?(key) %>
    <ul>
      <% value.each do |v| %>
        <li><%= v %></li>
      <% end %>
    </ul>
  <% end %>

<% end %>
