html,body {
	background: url(/images/main_bg.gif) repeat;
	margin:0;
	padding:0;
	font-family:Arial;
	font-size:10px;
}

a {
	color:#fff;
    text-decoration: none;
}

a, img {
    border:none;
    outline:none;
}


small {
	font-family: Arial;
	font-size:10px;
}

#logo {
	margin:6px 0 0 0;
	float: left;
}

#header-fixed {
	position: fixed;
	top:0;
	width: 100%;
	background: url(/images/top_tile_sm.gif) repeat-x;
	height:77px;
	z-index: 9999;
}

#header-inside {
	background: url(/images/top_bg_sm.gif) no-repeat center top;
	height:77px;
}

#header-shade {
	position: fixed;
	top:77px;
	width:100%;
	height:45px;
	text-align: center;
	z-index: 9999;
}

#menu {
	float:right;
	margin:25px 10px 0 0;
}

#menu img {
	margin-right: 20px;
}

#content-container{
	padding:75px 0 0 0;
	width: 100%;
	/*
	height:auto !important;
	height:100%;
	min-height:100%;
	*/
}

#content {
	padding:30px 30px 0 30px;
}



/* Header Styles
----------------------------------------------------------------------------------------------------*/

h1 {
	margin:0;
}


/* Homepage Styles
----------------------------------------------------------------------------------------------------*/

#home-container {
	background: url(/images/title_home.png) no-repeat top center;
	padding:130px 0 0 0;
	width:960px;
	margin:-50px auto 0 auto;
}

#home-video {
	position: relative;
	width:615px;
	height:370px;
	float:right;
	-moz-box-shadow: 0px 1px 4px #000;
	-webkit-box-shadow: 0px 1px 4px #000;
	box-shadow: 0px 1px 4px #000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='#000000')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='#000000');
}

#home-video #video {
	position:absolute;
	top:0;
	left:0;
	z-index: 999;
}

#home-video #splat-1 {
	position: absolute;
	bottom:-30px;
	left:-45px;
	width:142px;
	height:93px;
	background:url(/images/splat_1.png) no-repeat;
	z-index:99;
}

#home-video #splat-2 {
	position: absolute;
	top:-70px;
	right:-70px;
	width:172px;
	height:163px;
	background:url(/images/splat_2.png) no-repeat;
	z-index:99;
}

#home-copy {
	background: url(/images/title_remember.png) no-repeat;
	padding:65px 10px 0 0;
	float: left;
	width:290px;
	line-height: 24px;
	color:#7a7a7a;
	font-size:11px;
}

#home-events {
	list-style-type: none;
	background: url(/images/home_checks_bg.png) no-repeat;
	margin:20px 0 20px 0;
	padding:23px 0 0 18px;
	text-align: center;
	height:40px;
	color:#9b9b9b;
	font-size:13px;
	font-family: 'QuickSand', serif;
}

#home-events li {
	float:left;
	background: url(/images/check_orange.png) no-repeat;
	padding:1px 10px 0 15px;
}

#event-name-container {
	text-align:center;
	margin:-70px 0 0 0;
	color:#fff;
	position: relative;
	width:960px;
	z-index: 9999;
	height:55px;
	font: 14px/27px 'Quicksand', Arial, sans-serif;
}

#event-name-1 {
	background:url(/images/eventbox_right.png) no-repeat right top;
	padding:15px 10px 15px 0;
}

#event-name-2 {
	background:url(/images/eventbox_left.png) no-repeat;
	padding:15px 10px 15px 20px;
}

#event-name-2 span {
	font: 12px 'QuicksandBookOblique', Arial, sans-serif;
	color:#656565;
}

#event-name-arrow {
	position: absolute;
	left:468px;
	top:-19px;
	background: url(/images/eventbox_center.png) no-repeat;
	width:25px;
	height:20px;
}


/* Event Page Styles
----------------------------------------------------------------------------------------------------*/

#main-image {
	position: fixed;
	background-color: #fff;
	padding:5px 5px 2px 5px;
}

#main-image-wrap {
	position: relative;
	height:100%;
	width:100%;
}

#main-image-wrap #fb-add {
	position:absolute;
	bottom:5px;
	left:5px;
	z-index: 9999;
}

#main-image-wrap #fb-container {
	position: absolute;
	width: 100%;
	height:20px;
	bottom:3px;
	background-color: #000;
	filter:alpha(opacity=8);
	-moz-opacity:0.80;
	-khtml-opacity: 0.8;
	opacity: 0.8;
	text-align: center;
	font:10px Arial;
	color:#fff;
	z-index: 9998;
	padding:8px 0 2px 0;
}

#main-image-wrap #fb-container a.button {
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.05);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#19FFFFFF, endColorstr=#19FFFFFF);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#19FFFFFF, endColorstr=#19FFFFFF)";
	margin:0 5px 0 0;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding:2px 5px 2px 5px;
	color:#ffe27f;
}


#main-image-wrap #fb-container a.button:hover {
	background: rgba(255, 255, 255, 0.1);
}

.shadow {
	-moz-box-shadow: 0px 1px 4px #000;
	-webkit-box-shadow: 0px 1px 4px #000;
	box-shadow: 0px 1px 4px #000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='#000000')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='#000000');
}

ul.thumbs {
	margin:0;
	list-style-type:none;
}

ul.five_column {
  padding:0 0 0 350px;
}

ul.four_column {
  padding:0 0 0 400px;
}

ul.three_column {
  padding: 0 0 0 571px;
}

ul.two_column {
  padding: 0 0 0 625px;
}

ul.thumbs li {
	display:inline-block;
	margin:0 20px 15px 0;
    vertical-align: top;
}

ul.thumbs li img {
	border:2px solid #fff;
	width:95px;
}



/* Galleries Page Styles
----------------------------------------------------------------------------------------------------*/


#galleries {
	background: url(/images/title_galleries.png) no-repeat top center;
	width:100%;
	margin:-50px 0 0 0;
	padding:120px 0 0 0;
	color:#fff;
}

#galleries h1 {
	text-indent: -9999px;
	width:100%;
	height:1px;
}

#galleries h2 {
	margin:12px 0 5px 0;
	font-weight: normal;
	font-size:18px;
}


.gallerybox {
	list-style-type: none;
	margin:0;
	padding:0;
	font-family: 'Quicksand', serif;
}

.gallerybox li {
	float:left;
	width:400px;
	padding:10px;
	margin:0 10px 30px 10px;
	border-style: solid;
	border-width: 5px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border-color: rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 1px 0px #1a1a1a;
	-webkit-box-shadow: 0px 1px 0px #1a1a1a;
	box-shadow: 0px 1px 0px #1a1a1a;
}

.gallerybox img {
	float:left;
	margin:0 15px 0 0;
	border:2px solid #fff;
}

.gallerybox span {
	color:#8e8e8e;
	font-style: italic;
	display: block;
	margin:0 0 15px 0;
}

.gallerybox small {
	margin:0 10px 0 0;
}

.gallerybox small img {
	float:none;
	margin:0 3px 0 0;
	border:none;
	vertical-align: -5px;
}


/* Footer Styles
----------------------------------------------------------------------------------------------------*/

#footer {
	background: url(/images/footer_bg.png) repeat-x;
	padding:25px 0 0 0;
}

#footer-container {
	background: url(/images/footer_lightup.png) no-repeat center 30px;
}

#footer .section {
	float:left;
	width:200px;
	margin:0 15px 0 0;
}

#footer .section ul {
	list-style-type: none;
	padding:0;
	margin:0;
}

#footer .section li {
	width:75px;
	height: 75px;
	float:left;
	padding:0;
	margin:18px 18px 0 0;
}

#footer .section li a {
	display:block;
	width:75px;
	height:75px;
	border:3px solid #2a2a2a;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0px 1px 4px #000;
	-webkit-box-shadow: 0px 1px 4px #000;
	box-shadow: 0px 1px 4px #000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='#000000')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='#000000');
}

#footer .section li a:hover {
	border-color:#606060;
}

.footer-twitter-container {
	width:273px;
	margin:5px 0 10px 0;
}

.footer-twitter-post {
	background: url(/images/footer_twitter_top.png) no-repeat;
	padding:8px 12px 8px 12px;
	color:#4f4f4f;
}

.footer-twitter-date {
	background: url(/images/footer_twitter_bottom.png) no-repeat;
	border-top:1px solid #161616;
	padding:3px 0 14px 12px;
	color:#383838;
	font-style: italic;
	font-size:10px;
	line-height:14px;
}


#footer-container .connect {
	margin:18px 0 5px -4px;
}

#footer-container #copyright {
	color:#2f2f2f;
	border-top:1px solid #292929;
	padding:10px 0 10px 0;
	margin:25px 0 0 0;
}

#footer-container #copyright span {
	float:right;
}

#footer-fixed {
	position: fixed;
	bottom:0;
	width: 100%;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ed000000, endColorstr=#ed000000);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ed000000, endColorstr=#ed000000)";
	color:#fff;
	padding:10px 0 10px 0;
	z-index: 9999;
}

#footer-fixed h1 {
	font-size:20px;
	padding:0 0 0 50px;
	margin: 0 15px 0 0;
	font-family: 'Quicksand', serif;
	font-weight: normal;
	display: inline;
}

#footer-fixed .date {
	padding:0 0 3px 15px;
	border-left:1px solid #1a1a1a;
	color:#878787;
	font-style: italic;
}

#footer-fixed a {
	float:right;
	margin:5px 0 0 10px;
}

#footer-fixed a img {
	vertical-align: middle;
	margin:0 5px 0 15px;
}

#footer-a {
	position: absolute;
	bottom:-5px;
	margin:0 0 0 -30px;
}




/* Password Page Styles
----------------------------------------------------------------------------------------------------*/

.pw-container {
	background:url(/images/password_bg.png) no-repeat top center;
	position: absolute;
	margin:0;
	width:960px;
	height:300px;
}

.pw-container .custom-text {
	background-color: transparent;
	position: absolute;
	top:128px;
	left:350px;
	width:200px;
	height:20px;
	padding:5px;
	color:#eee;
	font-size:14px;
	border: 0;
}

.pw-container .button {
	position: absolute;
	top:120px;
	left:568px;
}


/* Containers
----------------------------------------------------------------------------------------------------*/
.container_16 {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	
	
}

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
	margin-left: 0 !important;
}

.omega {
	margin-right: 0 !important;
}



/* Grid >> Global
----------------------------------------------------------------------------------------------------*/
 
.grid_1, 
.grid_2, 
.grid_3, 
.grid_4, 
.grid_5, 
.grid_6, 
.grid_7, 
.grid_8, 
.grid_9, 
.grid_10, 
.grid_11, 
.grid_12, 
.grid_13, 
.grid_14, 
.grid_15, 
.grid_16,.grid_16{
	display:inline;
	float: left;
	position: relative;
	margin-left: 10.0px;
	margin-right: 10.0px;
}


/* Grid >> 2 Columns
----------------------------------------------------------------------------------------------------*/

.container_16 .grid_1{
	width:40px;
}

.container_16 .grid_2{
	width:100px;
}

.container_16 .grid_3{
	width:160px;
}

.container_16 .grid_4{
	width:220px;
}

.container_16 .grid_5{
	width:280px;
}

.container_16 .grid_6{
	width:340px;
}

.container_16 .grid_7{
	width:400px;
}

.container_16 .grid_8{
	width:460px;
}

.container_16 .grid_9{
	width:520px;
}

.container_16 .grid_10{
	width:580px;
}

.container_16 .grid_11{
	width:640px;
}

.container_16 .grid_12{
	width:700px;
}

.container_16 .grid_13{
	width:760px;
}

.container_16 .grid_14{
	width:820px;
}

.container_16 .grid_15{
	width:880px;
}

.container_16 .grid_16{
	width:940px;
}





/* Prefix Extra Space >> 2 Columns
----------------------------------------------------------------------------------------------------*/

    .container_16 .prefix_1 {
	padding-left:60px;
}

    .container_16 .prefix_2 {
	padding-left:120px;
}

    .container_16 .prefix_3 {
	padding-left:180px;
}

    .container_16 .prefix_4 {
	padding-left:240px;
}

    .container_16 .prefix_5 {
	padding-left:300px;
}

    .container_16 .prefix_6 {
	padding-left:360px;
}

    .container_16 .prefix_7 {
	padding-left:420px;
}

    .container_16 .prefix_8 {
	padding-left:480px;
}

    .container_16 .prefix_9 {
	padding-left:540px;
}

    .container_16 .prefix_10 {
	padding-left:600px;
}

    .container_16 .prefix_11 {
	padding-left:660px;
}

    .container_16 .prefix_12 {
	padding-left:720px;
}

    .container_16 .prefix_13 {
	padding-left:780px;
}

    .container_16 .prefix_14 {
	padding-left:840px;
}

    .container_16 .prefix_15 {
	padding-left:900px;
}

    .container_16 .prefix_16 {
	padding-left:960px;
}



/* Suffix Extra Space >> 2 Columns
----------------------------------------------------------------------------------------------------*/

    .container_16 .suffix_1 {
	padding-right:60px;
}

    .container_16 .suffix_2 {
	padding-right:120px;
}

    .container_16 .suffix_3 {
	padding-right:180px;
}

    .container_16 .suffix_4 {
	padding-right:240px;
}

    .container_16 .suffix_5 {
	padding-right:300px;
}

    .container_16 .suffix_6 {
	padding-right:360px;
}

    .container_16 .suffix_7 {
	padding-right:420px;
}

    .container_16 .suffix_8 {
	padding-right:480px;
}

    .container_16 .suffix_9 {
	padding-right:540px;
}

    .container_16 .suffix_10 {
	padding-right:600px;
}

    .container_16 .suffix_11 {
	padding-right:660px;
}

    .container_16 .suffix_12 {
	padding-right:720px;
}

    .container_16 .suffix_13 {
	padding-right:780px;
}

    .container_16 .suffix_14 {
	padding-right:840px;
}

    .container_16 .suffix_15 {
	padding-right:900px;
}

    .container_16 .suffix_16 {
	padding-right:960px;
}



/* Push Space >> 2 Columns
----------------------------------------------------------------------------------------------------*/

    .container_16 .push_1 {
	left:60px;
}

    .container_16 .push_2 {
	left:120px;
}

    .container_16 .push_3 {
	left:180px;
}

    .container_16 .push_4 {
	left:240px;
}

    .container_16 .push_5 {
	left:300px;
}

    .container_16 .push_6 {
	left:360px;
}

    .container_16 .push_7 {
	left:420px;
}

    .container_16 .push_8 {
	left:480px;
}

    .container_16 .push_9 {
	left:540px;
}

    .container_16 .push_10 {
	left:600px;
}

    .container_16 .push_11 {
	left:660px;
}

    .container_16 .push_12 {
	left:720px;
}

    .container_16 .push_13 {
	left:780px;
}

    .container_16 .push_14 {
	left:840px;
}

    .container_16 .push_15 {
	left:900px;
}

    .container_16 .push_16 {
	left:960px;
}





/* Pull Space >> 2 Columns
----------------------------------------------------------------------------------------------------*/

    .container_16 .pull_1 {
	right:60px;
}

    .container_16 .pull_2 {
	right:120px;
}

    .container_16 .pull_3 {
	right:180px;
}

    .container_16 .pull_4 {
	right:240px;
}

    .container_16 .pull_5 {
	right:300px;
}

    .container_16 .pull_6 {
	right:360px;
}

    .container_16 .pull_7 {
	right:420px;
}

    .container_16 .pull_8 {
	right:480px;
}

    .container_16 .pull_9 {
	right:540px;
}

    .container_16 .pull_10 {
	right:600px;
}

    .container_16 .pull_11 {
	right:660px;
}

    .container_16 .pull_12 {
	right:720px;
}

    .container_16 .pull_13 {
	right:780px;
}

    .container_16 .pull_14 {
	right:840px;
}

    .container_16 .pull_15 {
	right:900px;
}

    .container_16 .pull_16 {
	right:960px;
}


/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}


.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

/* Admin Styles */
#admin {
  color:white;
}





@font-face {
	font-family: 'QuicksandLight';
	src: url('/fonts/Quicksand_Light-webfont.eot');
	src: local('☺'), url('/fonts/Quicksand_Light-webfont.woff') format('woff'), url('/fonts/Quicksand_Light-webfont.ttf') format('truetype'), url('/fonts/Quicksand_Light-webfont.svg#webfontxOK7zMuM') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'QuicksandLightOblique';
	src: url('/fonts/Quicksand_Light_Oblique-webfont.eot');
	src: local('☺'), url('/fonts/Quicksand_Light_Oblique-webfont.woff') format('woff'), url('/fonts/Quicksand_Light_Oblique-webfont.ttf') format('truetype'), url('/fonts/Quicksand_Light_Oblique-webfont.svg#webfontvBgqc5bU') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'QuicksandBook';
	src: url('/fonts/Quicksand_Book-webfont.eot');
	src: local('☺'), url('/fonts/Quicksand_Book-webfont.woff') format('woff'), url('/fonts/Quicksand_Book-webfont.ttf') format('truetype'), url('/fonts/Quicksand_Book-webfont.svg#webfontQvsv8Mp8') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'QuicksandBookOblique';
	src: url('/fonts/Quicksand_Book_Oblique-webfont.eot');
	src: local('☺'), url('/fonts/Quicksand_Book_Oblique-webfont.woff') format('woff'), url('/fonts/Quicksand_Book_Oblique-webfont.ttf') format('truetype'), url('/fonts/Quicksand_Book_Oblique-webfont.svg#webfontDkcdglAy') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'QuicksandBold';
	src: url('/fonts/Quicksand_Bold-webfont.eot');
	src: local('☺'), url('/fonts/Quicksand_Bold-webfont.woff') format('woff'), url('/fonts/Quicksand_Bold-webfont.ttf') format('truetype'), url('/fonts/Quicksand_Bold-webfont.svg#webfontA4fKbYnS') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'QuicksandBoldOblique';
	src: url('/fonts/Quicksand_Bold_Oblique-webfont.eot');
	src: local('☺'), url('/fonts/Quicksand_Bold_Oblique-webfont.woff') format('woff'), url('/fonts/Quicksand_Bold_Oblique-webfont.ttf') format('truetype'), url('/fonts/Quicksand_Bold_Oblique-webfont.svg#webfontijreB3Ak') format('svg');
	font-weight: normal;
	font-style: normal;
}

