<div id="contactheader">

<%= image_tag 'contact_rightinfo.png', :style => 'float:right;margin:0 0 0 50;' %>

<h3>Allow Make a Scene to document your event...do it for your guests.</h3>

<table border="0" cellpadding="10" cellspacing="0" width="500">
<tr>
<td><label>Your Name</label><input type="text" class="form" /></td>
<td><label>Your Email</label><input type="text" class="form" /></td>
</tr>
<tr>
<td><label>Your Phone Number</label><input type="text" class="form" /></td>
<td><label>Type of Event</label><input type="text" class="form" /></td>
</tr>
<tr>
<td><label>Date of Event</label><input type="text" class="form" /></td>
<td><label>Your Budget</label><input type="text" class="form" /></td>
</tr>
<tr>
<td colspan="2"><label>Additional Comments</label>
<textarea cols="40" rows="50"></textarea></td>
</tr>
<tr><%= image_tag "inset_1px.png", :width => "500" %></tr>
<tr><td align="right"><%= image_tag "button_submit.png" %></td></tr>
</table>

<div style="clear:both;"></div>

</div>
