
<div id="aboutusheader">
<img src="/images/about_picroll_1.png" align="right" style="margin:0 -50px 0 20px;" />


Make a Scene is the next generation of photo booths. A photo booth on steroids, if you will. We provide custom photography setups that will truly take your party or event to the next level. Our solution makes your party more interactive and encourages guest participation. Not only does it get the party started, it keeps it going. Whether it's a birthday party, corporate event, or a wedding, allow us to capture the fun and wild moments of your happening. Relive all those moments afterwards by viewing and sharing photos from our website, or event request special deliverables. Book Make a Scene for your next event. You and your guests will be glad you did.

<h3>Where is Make a Scene located?</h3>
<p>Make a Scene operates out of sunny Orlando, Florida. Although this is our primary location, with enough notice we can provide our service at any event in the southeast.</p>
<br /><br />

<h3>What kind of equipment do you use?</h3>
Whatever equipment we need to properly capture all the memories at your party. Since every situation is unique, it all depends on the event. 
<br /><br />

<h3>What about props?</h3>
If you need props for a themed party/event, we can provide them for you. We will consult with you to come up with an appropriate list of item ideas and add this on to the cost. That way, you don't have to run around town last minute looking for fun props.
<br /><br />

<h3>How much does your service cost?</h3>
The cost varies depending on the size and scope of the event. Please <a href="/contact/">contact us</a> to talk about taking your event to the next level.
<br /><br />

<h3>I want Make a Scene at my next event, now what do I do?</h3>
<p>Great idea! Just visit our <a href="/contact/">contact page</a> and fill out a form with all the details we need from you. If you would rather talk to us over the phone, call us anytime at (407) 504-2717. We look forward to helping you capture the exciting moments at your next event.</p>
<br /><br />

<h3>Where can I find my photos taken at my event?</h3>
<p>We will give you a link to your gallery page or look for your gallery on the <%= link_to 'Gallery Page', events_path %></p>
<br/><br/>

<h3>What if I don't want everyone to be able to see my gallery?</h3>
<p>We can setup your gallery as private and give you a password to access it.  You can give that password to anyone you like.</p>
<br/><br/>

<h3>I want to download all my photos.  How do I do that?</h3>
<p>We can work out a special deal to give you a disk or flash drive (or whatever is most convenient for you) of all your photos in high quality.</p>
<br/><br/>

<h3>What are the quality of the photos that I can share?</h3>
<p>Usually around 1000x1000, but it depends on the ratio.</p>
<br/><br/>

<h3>Why are all my photos watermarked with your logo?</h3>
<p>We can work out a special deal to get your all your images without the watermark.  Just let us know.</p>

<br /><br />
<h4>Call us today to schedule your event - (407) 504-2717 or <a href="mailto:contact@makeascene.tv" class="special-link">email us</a>.</h4>

<div style="clear:both;"></div>

</div>
