
<div id="aboutusheader">
<img src="/images/about_picroll_1.png" align="right" style="margin:0 -50px 0 20px;" />


<h3>Where can I find my photos?</h3>

<p>We will give you a link to your gallery page or look for your gallery on the <%= link_to 'Gallery Page', events_path %></p>
<br/><br/>

<h3>What if I don't want everyone to be able to see my gallery?</h3>

<p>We can setup your gallery as private and give you a password to access it.  You can give that password to anyone you like.</p>

<br/><br/>

<h3>I want to download all my photos.  How do I do that?</h3>

<p>We can work out a special deal to give you a disk or flash drive (or whatever is most convenient for you) of all your photos in high quality.</p>

<br/><br/>

<h3>What are the quality of the photos that I can share?</h3>

<p>Usually around 1000x1000, but it depends on the ratio.</p>

<br/><br/>
<h3>Why are all my photos watermarked with your logo?</h3>

<p>We can work out a special deal to get your all your images without the watermark.  Just let us know.</p>

<br /><br />
<h4>Call us today to schedule your event - (407) 504-2717 or <a href="mailto:contact@makeascene.tv" class="special-link">email us</a>.</h4>

<div style="clear:both;"></div>

</div>
