
<div id="home-container">

<div id="home-copy">
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
<br /><br />
It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
<a href="/events/"><img src="/images/button_view_galleries.png" style="margin:15px 0 0 -5px;" /></a><a href="/contact/"><img src="/images/button_get_in_touch.png" /></a>
</div>

<div id="home-video">



<div id="video"><object width="615" height="370"><param name="movie" value="http://www.youtube.com/v/e4i-yZAj4m4?fs=1&amp;hl=en_US&amp;color1=0xe1600f&amp;color2=0xfebd01"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/e4i-yZAj4m4?fs=1&amp;hl=en_US&amp;color1=0xe1600f&amp;color2=0xfebd01" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="615" height="370"></embed></object></div>

	<div id="splat-1"></div>
	<div id="splat-2"></div>

</div>

<div style="clear:both;"></div>


<div id="home-slider">
<div id="slider-arrow-left"><img src="/images/arrow_orange_left.png" /></div>
<div id="slider-arrow-right"><img src="/images/arrow_orange_right.png" /></div>
<ul>
	<li><img src="/images/sample2.jpg" width="200" height="135" /></li>
	<li><img src="/images/sample2.jpg" width="200" height="135" /></li>
	<li><img src="/images/sample2.jpg" width="200" height="135" /></li>
	<li><img src="/images/sample2.jpg" width="200" height="135" /></li>
</ul>


</div>


</div>