<%= content_for(:meta) do %>
  <meta property="og:title" content="Make a Scene" /> 
  <meta property="og:description" content="Make a Scene is the next generation of photo booths. A photo booth on steroids, if you will. We provide custom photography setups that will truly take your party or event to the next level. " />
  <meta property="og:image" content="http://makeascene.tv/images/facebook_screenshot.png" />
  <meta property="og:site_name" content="Make a Scene" />
<% end %>

<div id="home-container">

<div id="home-copy">
You've invested in punch and tiki torches.  You bought 25 bags of chips of all different flavors.  Pictionary is out and ready to go.  It's party time.  But there are still beads of sweat pouring off your brow.  What will put this party over the top?  What will make it a night to remember?
<br /><br />
That's where Make a Scene comes in. Our next-gen photo booth (with props!) will make your party unforgettable. Then relive your party frame-by-frame with your own party gallery on MakeaScene.tv. (p.s. we also do videos)
<br />  
<a href="/events/"><img src="/images/button_view_galleries.png" style="margin:15px 0 0 -5px;" /></a><a href="/contact/"><img src="/images/button_get_in_touch.png" /></a>
</div>

<div id="home-video">



<div id="video"><iframe src="http://player.vimeo.com/video/17504486?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=0" width="615" height="370" frameborder="0"></iframe></div>

	<div id="splat-1"></div>
	<div id="splat-2"></div>

</div>

<div style="clear:both;"></div>

<ul id="home-events">
  <li>Birthdays</li>
  <li>Corporate Events</li>
  <li>Weddings</li>
  <li>Holiday Parties</li>
  <li>Charity Events</li>
  <li>Grand Openings</li>
  <li>Reunions</li>
  <li>We Supply Props!</li>
</ul>



<div id="list">
  <div class="prev"></div>
    <div class="slider">
      <ul>
        <% front_page_photos.each do |photo| %>
          <li>
            <%= link_to image_tag(photo.image.url(:thumb)), event_path(photo.event), :title => photo.event.display_name, :class => 'captify', :alt => photo.event.display_name %>
          
        <% end %>
      </ul>
    </div>
    <div class="next"></div>
      
    <div style="clear:both;"></div>
      
    <div id="event-name-container">
      <div id="event-name-arrow">&nbsp;</div>
      <span id="event-name-1"><span id="event-name-2">Click Pictures to View Album</span></span>
    </div>
  </div>
</div>

<%= content_for(:inline_js) do %>
  <script>
    $(document).ready(function(){
      $('#mycarousel').jcarousel();
    });
  </script>
<% end %>
