<div id="galleries">

	<h1>Make a Scene Galleries</h1>

	<ul class="gallerybox">
	<li>
	<img src="/images/sample.jpg" width="80" height="80" class="shadow" />
	<h2>Tim & Jenna's Engagement Party</h2>
	<span>December 10, 2010</span>
	<small><a href="#"><img src="/images/icon_facebook.png" /> Share this Album</a></small>
	<small><a href="#"><img src="/images/icon_twitter.png" /> Tweet this Album</a></small>
	</li>
	
	
	
	<li>
	<img src="/images/sample.jpg" width="80" height="80" class="shadow" />
	<h2>Tim & Jenna's Engagement Party</h2>
	<span>December 10, 2010</span>
	<small><a href="#"><img src="/images/icon_facebook.png" /> Share this Album</a></small>
	<small><a href="#"><img src="/images/icon_twitter.png" /> Tweet this Album</a></small>
	</li>
	
	
	<li>
	<img src="/images/sample.jpg" width="80" height="80" class="shadow" />
	<h2>Tim & Jenna's Engagement Party</h2>
	<span>December 10, 2010</span>
	<small><a href="#"><img src="/images/icon_facebook.png" /> Share this Album</a></small>
	<small><a href="#"><img src="/images/icon_twitter.png" /> Tweet this Album</a></small>
	</li>
	
	
	</ul>
	
	<div style="clear:both;"></div>
</div>