<div id="main-image" class="shadow">
  <%= image_tag @event.photos.first.image.url(:big) %>
</div>

<ul class="thumbs">
  <% @event.photos.each do |photo| %>
    <li><%= link_to image_tag(photo.image.url(:small), :class => 'shadow'), '#', :class => 'image_link' %></li>
  <% end %>
</ul>
<div class="clear"></div>
